html, body {
    height: 100%;
}

#map {
/*
    width: 1024px;
    height: 1024px;
    position: absolute;
    top: 0px;
    left: 0px;
*/
    z-index: 1;
}

/*** sidebar ***/
#sidebar {
    width: 250px;
    height: 350px;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 2;
    background-color: #ffffff;
    border: 3px green solid;  /* 枠線を引く */
    border-radius: 20px;      /* 角丸の指定 */
}

#sidebar_bdy {
    height: 330px;
    padding: 5px 5px;
}

#result {
    height:300px;
    padding-top: 15px;
    overflow-y: scroll;
    font-size: 11px;
}

#processing {
	width: 128px; /* gif画像の幅 */
	height: 64px; /* gif画像の高さ */
	background: #BABABA; /* gif画像の背景色 */
	opacity: 1.0; /* 透過させる */
	position: fixed; /* gif画像をスクロールさせない */
	left: 50%; /* gif画像を画面横中央へ */
	top: 50%; /* gif画像を画面縦中央へ */
    font-size:larger;
    color:black;
    display:none;
}

#calculating {
	width: 128px; /* gif画像の幅 */
	height: 64px; /* gif画像の高さ */
	background: #BABABA; /* gif画像の背景色 */
	opacity: 1.0; /* 透過させる */
	position: fixed; /* gif画像をスクロールさせない */
	left: 50%; /* gif画像を画面横中央へ */
	top: 50%; /* gif画像を画面縦中央へ */
    font-size:larger;
    color:black;
    display:none;
}
